extends main
block index
    body
        h1="Agregar un producto"
            form(action="/productos" method="post" target="")
                div
                    label(for="itemName")="Enter product:"
                    input(type="text" name="itemName" id="itemName" required)
                div
                    label(for="itemPrice")="Enter price:"
                    input(type="number" name="itemPrice" id="itemPrice" required)
                div
                    label(for="url")="Enter thumbnail url:"
                    input(type="text" name="url" id="url" required)
                div
                    input(type="submit" value="Guardar")
            a(href="/productos")
                button="Ver productos"