doctype
html(lang='es')
    head
        meta(charset='utf-8')
        title="Desafio 5 pug" 
    block products
        body
            h1="Vista productos"
            if empty
                h2="Lista de productos vacía"
            else
                table
                    thead
                        tr
                            td="Nombre"
                            td="Precio"
                            td="Foto"
                    tbody
                        each product in products
                            tr
                                td= product.itemName
                                td= product.itemPrice
                                td
                                    img(src=product.url)
            a(href="/")
                button="Agregar productos"
