<!doctype html>
<html lang="es">
    <head>
        <%-include('../partials/head.ejs')%>
    </head>

    <body class="h-screen w-screen">
        <%- include('../partials/profile.ejs')%>
        <%-include('../partials/navbar.ejs')%>
        <%-include('../partials/logout.ejs')%>
        <div>
            <h1>Detalle del producto</h1>
            <div>
                <h2><%= product.title %></h2>
                <p><%= product.description %></p>
                <p><%= product.price %></p>
                <img src="<%= product.thumbnail %>" alt="<%= product.title %>">
            </div>
        </body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>