<!doctype html>
<html lang="es">

<head>
    <%-include('.. /../partials/head.ejs')%>
</head>

<body class="h-screen w-screen">
    <%- include('../../partials/profile.ejs')%>
        <%-include('.. /../partials/navbar.ejs')%>
            <%-include('.. /../partials/logout.ejs')%>
                <div>
                    <h2>Mensajes</h2>
                    <% messages.forEach(message=> { %>
                        <div>
                            <strong>
                                <%= message.user %>
                            </strong>
                            <span>
                                <%= new Date(message.timestamp).toLocaleDateString('es-ES') %>
                                    <%= new Date(message.timestamp).toLocaleTimeString() %>
                            </span>
                            <em>
                                <%= message.message %>
                            </em>
                            <button onclick="showReplyForm('<%= message.id %>')">Responder</button>
                            <div id="reply-form-<%= message.id %>" style="display: none;">
                                <form onsubmit="return addReply(this, '<%= message.id %>')">
                                    <input type="text" name="reply" placeholder="Escribe tu respuesta" required>
                                    <button type="submit">Enviar</button>
                                </form>
                            </div>
                            <div>
                                <% message.replies.forEach(reply=> { %>
                                    <div class="respuesta">
                                        <strong>
                                            <%= reply.user %>
                                        </strong>
                                        <span>
                                            <%= new Date(reply.timestamp).toLocaleDateString('es-ES') %>
                                                <%= new Date(reply.timestamp).toLocaleTimeString() %>
                                        </span>
                                        <em>
                                            <%= reply.message %>
                                        </em>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                        <% }) %>
                            <form onsubmit="return sendMessage(this)">
                                <div>
                                    <input type="text" id="message" placeholder="Responder" required>
                                    <button>enviar</button>
                                </div>
                            </form>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                    crossorigin="anonymous"></script>
                <%-include('. /chatScript.ejs')%>
</body>

</html>